{% extends "::layout.html.twig" %}


{% block menu %}
    <ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
  <li><a href="#annonce" role="tab" data-toggle="tab">Annonce</a></li>
  <li><a href="#message" role="tab" data-toggle="tab">Messages</a></li>
</ul>
    <!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">home</div>
  <div class="tab-pane" id="annonce">annonce</div>
  <div class="tab-pane" id="messages">message</div>
</div>
{% endblock %}

{% block container %}
{% endblock %}
