<html class="js" lang="fr" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"><head>
        <meta charset="utf-8">

        <title>Todo list zouhaier</title>

    {% block stylesheets %}
     <link rel="stylesheet" href="{{asset('css/base.css')}}"> 
     <link rel="stylesheet" href="{{asset('css/style.css')}}"> 
     
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
     <script type="text/javascript" src="{{asset('js/main.js')}}"></script>
    {% endblock %}
     
  <body itemscope="" itemtype="http://schema.org/Article">
      {% block body %}
    <div>          
        <div class="container">
            <div class="homepage-search clearfix">
             <header class="site-header" style="margin-bottom: 4%;">
        
        </header>
        
        
      <section id="todoapp">
        <header id="header">
          <h1>TodoList</h1>
          {% block container %}{% endblock %}
        </header>
        {% block content %}
{% endblock %}

      </section>

 </div>
        </div>


        <footer class="">
        </footer>

    </div>
        {% endblock %}
      </body>
      